/* Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Hyacinth
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131010 */

html,
body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  background: url(images/img01.jpg) repeat;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12pt;
  font-weight: 400;
  color: #000000;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

p,
ol,
ul {
  margin-top: 0;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

p {
  line-height: 180%;
}

strong {
}

a {
  color: #0000ff;
}

a:hover {
  text-decoration: none;
}

.container {
  margin: 0px auto;
  width: 100%;
}

/*********************************************************************************/
/* Form Style                                                                    */
/*********************************************************************************/

form {
}

form label {
  display: block;
  text-align: left;
  margin-bottom: 0.5em;
}

form .submit {
  margin-top: 2em;
  background: #67128f;
  border-radius: 8px;
  line-height: 1.5em;
  font-size: 1.3em;
}

form input.text,
form select,
form textarea {
  position: relative;
  -webkit-appearance: none;
  display: block;
  border: 0;
  background: #fff;
  background: rgba(255, 255, 255, 0.75);
  width: 100%;
  border-radius: 0.5em;
  margin: 1em 0em;
  padding: 1.5em 1em;
  box-shadow: inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.05);
  border: solid 1px rgba(0, 0, 0, 0.15);
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  outline: none;
}

form input.text:hover,
form select:hover,
form textarea:hover {
}

form input.text:focus,
form select:focus,
form textarea:focus {
  box-shadow: 0 0 2px 1px #e0e0e0;
  background: #fff;
}

form textarea {
  min-height: 12em;
}

form .formerize-placeholder {
  color: #555 !important;
}

form ::-webkit-input-placeholder {
  color: #555 !important;
}

form :-moz-placeholder {
  color: #555 !important;
}

form ::-moz-placeholder {
  color: #555 !important;
}

form :-ms-input-placeholder {
  color: #555 !important;
}

form ::-moz-focus-inner {
  border: 0;
}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

.image {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.image img {
  display: block;
  width: 100%;
}

.image-full {
  display: block;
  width: 100%;
  margin: 0 0 3em 0;
}

.image-left {
  float: left;
  margin: 0 2em 2em 0;
}

.image-centered {
  display: block;
  margin: 0 0 2em 0;
}

.image-centered img {
  margin: 0 auto;
  width: auto;
}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

ul.style1 {
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button {
  display: inline-block;
  margin-top: 2em;
  padding: 1em 2em 1em 2em;
  background: #67128f;
  border-radius: 8px;
  letter-spacing: 0.2em;
  line-height: 1.8em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2em;
  color: #fff;
}

.button:before {
  display: inline-block;
  background: #8dcb89;
  margin-right: 1em;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  text-align: center;
  color: #272925;
}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title {
  margin-bottom: 3em;
}

.title h2 {
  font-size: 2.8em;
  color: rgba(255, 255, 255, 0.9);
}

.title .byline {
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.1em;
  color: #6f6f6f;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header-wrapper {
  overflow: hidden;
  padding: 5em 0em;
  /* height: 100%; */
  width: 100%;
}

#header {
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo {
  padding: 5em 0em;
  text-align: center;
}

#logo h1 {
  font-size: 3.5em;
}

#logo a {
  text-decoration: none;
  color: #fff;
}

#logo span {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.5);
}

#logo span a {
  color: rgba(255, 255, 255, 0.8);
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu {
}

#menu ul {
  text-align: center;
}

#menu li {
  display: inline-block;
}

#menu li a,
#menu li span {
  display: inline-block;
  margin-left: 0.5em;
  padding: 1em 1.5em;
  letter-spacing: 0.2em;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  outline: 0;
  color: #fff;
}

#menu li:hover a,
#menu li.active a,
#menu li.active span {
}

#menu .current_page_item a {
  background: #67128f;
  border-radius: 8px;
  color: #fff;
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner {
}

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/

#wrapper1 {
  background: #242424;
}

#wrapper4 {
  overflow: hidden;
  padding: 8em 0em 4em 0em;
}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

#page {
}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

#content {
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

#sidebar {
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer {
  text-align: center;
}

#footer .title span {
  color: rgba(255, 255, 255, 0.4);
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright {
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

#copyright p {
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.3);
}

#copyright a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

/*********************************************************************************/
/* Three Columns                                                                 */
/*********************************************************************************/

#three-column {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0px auto;
  padding: 0px;
  align-items: center;
  justify-content: center;
  color: #000;
  background: #fff;
}

#three-column h2 {
  margin: 1em 0em;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 700;
  color: #000 !important;
}

#three-column .icon {
  position: relative;
  display: block;
  margin: 0px auto 0.8em auto;
  background: none;
  line-height: 150px;
  font-size: 4em;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: 6px solid #67128f;
  text-align: center;
  color: #000;
}

#three-column #tbox1,
#three-column #tbox2,
#three-column #tbox3 {
  float: center;
  width: 320px;
  padding: 80px 40px 80px 40px;
}

#three-column .title {
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
}

#three-column .title h2 {
  font-size: 1.6em;
  font-weight: 900;
  font-family: "Open Sans", sans-serif;
  color: #00a4d9;
}

#three-column .title .byline {
  padding-top: 0.5em;
  font-size: 0.9em;
  color: #858585;
}

#three-column .arrow-down {
  border-top-color: #292929;
}

/*********************************************************************************/
/* Image Grid                                                                 */
/*********************************************************************************/

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
}

.column {
  flex: 50%;
}

/********* Simple or original overlay *******/
/* Main container */
.overlay-image {
  position: relative;
  width: 100%;
}
/* Original image */
.overlay-image .image {
  display: block;
  width: 100%;
  height: auto;
}

/* Original text overlay */
.overlay-image .text {
  color: #fff;
  font-size: 30px;
  line-height: 1.5em;
  text-shadow: 2px 2px 2px #000;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  font-size: medium;
  padding: 12pt 12pt 12pt 12pt;
  white-space: normal;
  overflow: hidden;
}

/* New overlay on hover */
.overlay-image .hover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  /* text-overflow: ellipsis; */
}
/* New overlay appearance on hover */
.overlay-image:hover .hover {
  opacity: 1;
}

/*********************************************************************************/
/* About                                                                      */
/*********************************************************************************/

#me {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0px auto;
  padding: 0px;
  align-items: center;
  justify-content: center;
  color: #000;
  background: #fff;
}

#ProPic {
  border-radius: 50%;
  float: left;
  margin: 5px auto;
  padding: 3em;
}

#Bio {
  float: right;
  margin: 5px auto;
  padding: 3em;
  text-align: center;
}

/*********************************************************************************/
/* Other Projects                                                                */
/*********************************************************************************/

#OtherProjects {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0px auto;
  padding: 0px;
  align-items: center;
  justify-content: center;
  color: #000;
  background: #fff;
}

#description {
  margin: 5px auto;
  padding: 3em;
  text-align: justify;
}

/*********************************************************************************/
/* Geospatial Tech                                                               */
/*********************************************************************************/

#GeospatialTech {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0px auto;
  padding: 0px;
  align-items: center;
  justify-content: center;
  color: #000;
  background: #fff;
}

#capstone {
  margin: 5px auto;
  padding: 3em;
  text-align: justify;
}